params {
    name='test'
    input_dir = './data/'
    outdir = './results'
    bigwig_design = './BigwigDesign.csv'
    bed_design = './BedDesign.csv'
    rfunction="./bin/Rfunc_GR_scaling.R"
    rexec="./bin/R_get_coverage.R"
}
process {
   //container = ''
   queue = 'Default'
   withLabel: 'multiCpu' {
      cpus=6
   }
   withLabel: 'local' {
      executor = 'local'
   }
}

profiles {
    pbs {
        process.executor='pbspro'
    }
}

executor {
   name = 'slurm'
   pollInterval = '1 min'
   queueStatInterval = '2 min'
   exitReadTimeout = '3600 sec'
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = "-B /home/$USER/"

}
